<!DOCTYPE html>
<html>
  <% include ./partials/head.ejs %>
  <body class="bg">
  <% include ./partials/navbar.ejs %>
 <body class="bg">
<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand myname" href="#">Shauan</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#fir">Profile</a></li>
        <li><a href="#intro">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>

      </ul>
    </div>
  </div>
</nav>
  <div class="container-fluid spac">
    <div class="row">
      <!-- <div class="col-md-2 left-side">
        <h1>Shauan</h1>
        <h3>Web Developer</h3>
        <div class="row">
          <div id="prof" class="col-md-12 left-bar left-active">Profile</div>
          <div id="proj" class="col-md-12 left-bar">Projects</div>
          <div class="col-md-12 left-bar">Skills</div>
          <div class="col-md-12 left-bar">Contact</div>
        </div>
      </div> -->
      <div class="col-md-12 right-side">
        <section id="fir" class="bgbras" >
          <div class="row">
            <div class="container">
              <div class="col-md-12 text-center subt">FRONTEND DEVELOPER</div>
              <div class="col-md-12 text-center my">VERSATILE - CREATIVE - PROFESSIONAL</div>
              <div class="col-md-12 text-center whz">Made in Brazil</div>
          </div>
        </section>
        <section id="myse">
          <div class="row">
            <div class="container">
              <h1>Profile</h1>
              <div class="col-md-6">
                <div class="mes">I studied Law and Medicine before finding my passion in web development. Having lived, studied and worked in Brazil, Argentina, England and now in the USA, I am flexible and can easily adapt to new industries and work environments.</div>
                <button type="button" class="btn btn-default rdbtn">React</button>
                <button type="button" class="btn btn-default rdbtn">Node</button>
                <button type="button" class="btn btn-default rdbtn">Express</button>
                <button type="button" class="btn btn-default rdbtn">PostgreSQL</button>
                <button type="button" class="btn btn-default rdbtn">Ruby on Rails</button>
                <button type="button" class="btn btn-default rdbtn">HTML5</button>
                <button type="button" class="btn btn-default rdbtn">CSS3</button>
                <button type="button" class="btn btn-default rdbtn">JavaScript</button>
                <button type="button" class="btn btn-default rdbtn">Photoshop</button>
                <button type="button" class="btn btn-default rdbtn">Bootstrap</button>
              </div>
              <div class="col-md-4 col-md-offset-2"><img class="img-rounded img-responsive" src="/images/me.jpg" />  </div>
            </div>
          </div>
        </section>
        <section id="intro">
          <div class="container">
            <h1>Experience</h1>
            <div id="first" class="row yellow-bord">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6"><img class="img-responsive" width="100" src="images/ga.jpg" /></div>
                  <div class="col-md-6 text-right">
                  <h5>New York, United States</h5>
                  <h5>November 2016 – February 2017</h5>
                  </div>
                  <div class="col-md-12">
                    <h1>Web Development Immersive</h1>
                    <h2>Full stack web development course including HTML, CSS, JavaScript, Node, Express, React, Ruby, Ruby on Rails.</h2>
                    <h2>Individual and group assignments using best practices for development and Git.</h2>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6"><img class="img-responsive" width="100" src="images/sedek.png" /></div>
                  <div class="col-md-6 text-right">
                  <h5>Brasilia,  Brazil</h5>
                  <h5>January 2013 – June 2016</h5>
                  </div>
                  <div class="col-md-12">
                    <h1>Web Developer</h1>
                    <h2>Project Management - product development and client management</h2>
                    <h2>Designed and developed responsive web pages using HTML5, Twitter Bootstrap, CSS3, JSON, JavaScript and Jquery</h2>
                    <h2>Involved in the analysis, system study and project design</h2>
                    <h2>Created brand images, logos and icons for online presence using Adobe Photoshop, Fireworks and Adobe Illustrator</h2>
                    <h2>Developed websites in compatibility with different versions of browsers like Internet Explorer, Mozilla Firefox, Safari and Google Chrome</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="projects" >
          <div class="container">
          <div class="row blue-bord">
          <div class="col-md-12">
            <h1 class="szz">Projects</h1>
            <div class="row text-center">
              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                  <img class="img-responsive" src="images/pj1.png" alt="">
                  <div class="caption">
                    <h3>Coffee & cakes</h3>
                    <p>React - Firebase</p>
                    <p>
                    <a href="http://director-kangaroo-42388.bitballoon.com/" class="btn btn-default">Live</a> <a href="https://github.com/2high/project2 " class="btn btn-default">Github</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                  <img class="img-responsive" src="images/pj2.png" alt="">
                  <div class="caption">
                    <h3>Todo list</h3>
                    <p>React - Firebase</p>
                    <p>
                    <a href="http://tutor-eugene-13758.bitballoon.com/" class="btn btn-default">Live</a> <a href="#" class="btn btn-default">Github</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                  <img class="img-responsive" src="images/p3.png" alt="">
                  <div class="caption">
                    <h3>Alien Attack</h3>
                    <p>Javascript - Canvas</p>
                    <p>
                    <a href="http://fireman-seed-46866.bitballoon.com/" class="btn btn-default">Live</a> <a href="https://github.com/2high/project1" class="btn btn-default">Github</a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                  <img class="img-responsive" src="images/p4.png" alt="">
                  <div class="caption">
                    <h3> Auth</h3>
                    <p>Express auth</p>
                    <p>
                    <a href="https://fazbookauth.herokuapp.com/" class="btn btn-default">Live</a> <a href="https://github.com/2high/fazbook-auth" class="btn btn-default">Github</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        <!-- /.row -->


          </div>
        </div>
        </div>
        </section>
        <section id="contact">
          <div class="container">
            <div class="row">
              <h1 class="szz">Contact</h1>
              <div class="col-md-4 text-center contz">Github</div>
              <div class="col-md-4 text-center contz">Linkedin</div>
              <div class="col-md-4 text-center contz">email</div>
            </div>
          </div>
        </section>


      </div>
    </div>
  </div>



    <% include ./partials/scripts.ejs %>
  </body>
</html>
